<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Prime Korean Language</title>
    <link rel="shortcut icon" href="{{ url_for('bp_admin.static', filename='img/favicon.ico') }}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('prime_home.static', filename='css/blocks.css') }}">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('prime_home.static', filename='css/style.css', v='10102024') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('prime_home.static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('prime_home.static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('prime_home.static', filename='css/carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('prime_home.static', filename='css/org_chart.css') }}">
    <link href="{{ url_for('bp_auth.static', filename='css/main_pro.css') }}" rel="stylesheet">
    <style>
        .branch {
            cursor: pointer
        }
    </style>
    <!-- Block Head -->
    {% block head %} {% endblock %}
</head>

<body class="text-secondary">
    <!-- HEADER -->
    {% block header %}
        {% include "prime_home/navigation_header.html" %}
    {% endblock %}

    <!-- Block Content -->
    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="{{ url_for('prime_home.static', filename='js/home_vue.js') }}"></script>

    <script src="{{ url_for('prime_home.static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('prime_home.static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('prime_home.static', filename='js/carousel.js') }}"></script>


    <script type='text/javascript'>
        var onWebChat={ar:[], set: function(a,b){if (typeof onWebChat_==='undefined'){this.ar.
        push([a,b]);}else{onWebChat_.set(a,b);}},get:function(a){return(onWebChat_.get(a));},
        w:(function(){ var ga=document.createElement('script'); ga.type = 'text/javascript';
        ga.async=1;ga.src=('https:'==document.location.protocol?'https:':'http:') + 
        '//www.onwebchat.com/clientchat/6aed2cb2a946ac7830a025a809ab2215';var s=
        document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})()}
    </script>

    <script>
        $(document).ready(function (){
            $("#nav_services").click(function (){
                $('html, body').animate({
                    scrollTop: $("#services_section").offset().top
                }, 2000);
            });
            $("#nav_testimonies").click(function (){
                $('html, body').animate({
                    scrollTop: $("#testimonies").offset().top
                }, 2000);
            });
            $("#nav_contact_us").click(function (){
                $('html, body').animate({
                    scrollTop: $("#div_contact_us_section").offset().top
                }, 2000);
            });

            $("#btn_contact_now").click(function (){
                $('html, body').animate({
                    scrollTop: $("#div_contact_us_section").offset().top
                }, 2000);
            });

            $("#btn_branches").click(function (){
                $('html, body').animate({
                    scrollTop: $("#div_branches").offset().top
                }, 2000);
            });

            $("#btn_proof_of_gallery").click(function (){
                $('html, body').animate({
                    scrollTop: $("#testimonies").offset().top
                }, 2000);
                $("#div_proof_of_gallery").trigger('click');
            });

            $("#btn_orientation").click(function (){
                $('html, body').animate({
                    scrollTop: $("#testimonies").offset().top
                }, 2000);
                $("#div_orientation").trigger('click');
            })

            $("#btn_actual_class").click(function (){
                $('html, body').animate({
                    scrollTop: $("#testimonies").offset().top
                }, 2000);
                $("#div_actual_class").trigger('click');
            })

            $("#btn_graduation").click(function (){
                $('html, body').animate({
                    scrollTop: $("#testimonies").offset().top
                }, 2000);
                $("#div_graduation").trigger('click');
            })

            $("#btn_skill_test").click(function (){
                $('html, body').animate({
                    scrollTop: $("#testimonies").offset().top
                }, 2000);
                $("#div_skill_test").trigger('click');
            })

            $("#btn_departure").click(function (){
                $('html, body').animate({
                    scrollTop: $("#testimonies").offset().top
                }, 2000);
                $("#div_departure").trigger('click');
            })

            $("#div_cebu_branch").click(function(){
                window.open("http://maps.google.com/?q=Doña Luisa Building, 6000 Fuente Osmeña Cir, Cebu City, 6000 Cebu");
            });

            $("#div_bohol_branch").click(function(){
                window.open("http://maps.google.com/?q=St. Jude Building, Gallares Street, Corner Honorio Grupo Street, Tagbilaran City, 6300 Bohol");
            });

            $("#div_tacloban_branch").click(function(){
                window.open("http://maps.google.com/?q=6XVX+HWM, Burgos St, Downtown, Tacloban City, Leyte");
            });

            $("#div_palawan_branch").click(function(){
                window.open("http://maps.google.com/?q=Yusay incorporated building,Lacao st. puerto princesa city, palawan");
            });
        }); // document.ready
    </script>
    <!-- Block Extra Script -->
    {% block extra_script %}{% endblock %}

    <script type="text/javascript" src="{{ url_for('bp_auth.static', filename='js/main_pro.js') }}"></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="toast-container" class="toast-top-right">
        {% for category, message in messages %}
            {% if category == 'success' %}
            <div class="toast toast-success" aria-live="polite">
                <div class="toast-progress" style="width: 0%;"></div>
                <div class="toast-title">Success!</div>
                <div class="toast-message">{{ message }}</div>
            </div>
            {% elif category == 'error' %}
            <div class="toast toast-error" aria-live="polite">
                <div class="toast-progress" style="width: 0%;"></div>
                <div class="toast-title">Error!</div>
                <div class="toast-message">{{ message }}</div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

</body>
</html>
