{% extends 'prime_home/base.html' %}

{% block header %}
    {% include "prime_home/navigation_header_2.html" %}
{% endblock %}

{% block content %}
<section class="primary-color pt-5 text-white">
    <div class="container mb-4 py-5">
        <h1 class="display-5 fw-bold">Want to study korean language?</h1>
        <p class="fs-3 mb-0">Say hello, we&apos;d love to hear from you.</p>
    </div>
    <svg viewBox="0 0 1440 185" preserveAspectRatio="none" fill="rgb(0, 97, 168)" version="1.1" xmlns="http://www.w3.org/2000/svg" class="bg-white d-block text-primary" width="100%" height="160">
        <path d="M 0 0 H 1440 V 60 C 1114 355 700 35 516 35 C 333 35 246 199 0 60 V 0 Z"/>
    </svg>
</section>

<section class="py-5">
    <div id="div_contact_us_section" class="testimony container py-5">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="bg-light p-5">
                    <div class="py-3">
                        <h2 class="h5 text-primary">Get in Touch</h2>
                        <h3 class="display-4 fw-bold mb-5 text-dark">Contact Us</h3>
                        <h2 class="h5 text-primary">Let those OPPORTUNITIES come to you. PASS THE EPS-TOPIK NOW.</h2>
                        <h4 class="mb-3 text-dark">Visit us at</h4>
                    <p>
                        <h2 class="h5 text-primary">Palawan Branch</h2>
                        3rd Floor, Yusay Incorporated Building,Lacao St. Puerto Princesa City, Palawan
                    </p>
                    <p>
                        <h2 class="h5 text-primary">Butuan Branch</h2>
                        3rd Floor Ramcor Building, P. Burgos St., Butuan City
                    </p>
                    <p>
                        <h2 class="h5 text-primary">Calbayog Branch</h2>
                        Room 305, 3rd Floor,  Virsco Home Depot,  888 Building  Rosales Blvd.,  Calbayog City.
                    </p>
                    <p>
                        <h2 class="h5 text-primary">Cebu Branch</h2>
                        Room 308, 3rd Floor, Doña Luisa Building Fuente Osmena Circle, Cebu City. 
                    </p>
                    <p>
                        <h2 class="h5 text-primary">Tacloban Branch</h2>
                        Room 4B, 4th Floor, Catjoy Building, P.Burgos St. Tacloban City.
                    </p>
                    <p>
                        <h2 class="h5 text-primary">Tagbilaran Branch</h2>
                        Room 201 A. 2nd floor,. Saint Jude Building, Gallares St., Corner H Grupo St., Tagbilaran City.
                    </p>
                        <h4 class="mb-3 text-dark">Connect at</h4>
                        <ul class="list-unstyled mb-0"> 
                            <li class="mb-1"> 
                                <a href="mailto:primekoreanlanguage.com" class="link-secondary text-decoration-none">primekoreanlanguage.com</a> 
                            </li>
                            <li class="mb-1"> 
                                <a href="tel:0935 850 8611" class="link-secondary text-decoration-none">0935 850 8611</a> 
                            </li>                                         
                            <li class="mb-1"> 
                                <a href="tel:0935 850 8611" class="link-secondary text-decoration-none">0935 850 8611</a> 
                            </li>                                         
                        </ul>
                    </div>
                </div>                             
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="px-4 px-xl-5 py-5">
                    <h2 class="mb-4 text-dark">Send us a message</h2>
                    <form method="POST" action="{{url_for('prime_home.send_us_a_message')}}">
                        {{ form.csrf_token }}
                        <div class="gx-3 row">
                            <div class="col-md-6 mb-3">
                                <label>First Name</label>
                                <input type="text" class="form-control p-3" name="first_name" required> 
                            </div>
                            <div class="col-md-6 mb-3"> 
                                <label>Last Name</label>
                                <input type="text" class="form-control p-3" name="last_name" required> 
                            </div>
                        </div>
                        <div class="gx-3 row">
                            <div class="col-md-6 mb-3">
                                <label>Age</label>
                                <input type="number" class="form-control p-3" name="age" min="18" required> 
                            </div>
                            <div class="col-md-6 mb-3"> 
                                <label>Address</label>
                                <input type="text" class="form-control p-3" name="address" required> 
                            </div>
                        </div>
                        <div class="gx-3 row">
                            <div class="col-md-6 mb-3">
                                <label>Email Address</label>
                                <input type="email" class="form-control p-3" name="email" required> 
                            </div>
                            <div class="col-md-6 mb-3"> 
                                <label>Contact Number</label>
                                <input type="text" class="form-control p-3" name="contact_number" required> 
                            </div>
                        </div>
                        <div class="mb-3"> 
                            <label>Message</label>
                            <textarea class="form-control p-3" rows="6" name="message" required></textarea> 
                        </div>
                        <div class="form-check mb-4">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="subscribe" value="Yes"/>
                                I would also like to subscribe to weekly newsletter
                            </label>
                        </div>                                     
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary pe-4 ps-4 rounded-pill">
                                <span>Submit</span>
                            </button>
                        </div>                                     
                    </form>
                </div>                             
            </div>
        </div>                     
    </div>
    <!-- <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.191198800076!2d-118.18046714839134!3d37.38531037973326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80be49e630bb0f4d%3A0x626d864ec13dbdba!2sAncient%20Bristlecone%20Pine%20Forest%20Visitor%20Center!5e0!3m2!1sen!2snp!4v1622962262896!5m2!1sen!2snp" height="450" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0" width="100%" class="d-block" title="Pinegeow location map"></iframe>
    </div>                  -->
</section>


<!-- Talk Section -->
{% include "prime_home/index/talk_section.html" %}
<!--End Of Talk Section-->

{% include "prime_home/footer.html" %}

{% endblock %}
