<nav
class="nav-background border border-left-0 border-right-0 border-top-0 navbar navbar-dark navbar-expand-lg py-lg-1">
<div class="container" id="home">
    <img width="70" height="70" class="embed-responsive-item" src="{{url_for('prime_home.static', filename='img/logo.png')}}"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-4"
        aria-controls="navbarNavDropdown-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown-4">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link px-lg-3 py-lg-4" href="{{ url_for('prime_home.index') }}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a @click="scrollGoToAbout" class="nav-link px-lg-3 py-lg-4" id="navbarDropdownMenuLink"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link px-lg-3 py-lg-4 " href="#" id="nav_services"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item">Learn Korean</a>
                    <a class="dropdown-item">Work in South Korea</a>
                </div>
            </li>
            <li class="nav-item dropdown"> 
                <a class="nav-link px-lg-3 py-lg-4" id="nav_testimonies" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Testimonies</a> 
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> 
                    <a id="btn_proof_of_gallery" class="dropdown-item">Our Proof of Gallery</a>
                    <a id="btn_orientation" class="dropdown-item">Orientation</a>
                    <a id="btn_actual_class" class="dropdown-item">Actual Class</a>
                    <a id="btn_graduation" class="dropdown-item">Graduation</a>
                    <a id="btn_skill_test" class="dropdown-item">Skill test</a>
                    <a id="btn_departure" class="dropdown-item">Departure in South Korea</a>
                </div>                             
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link px-lg-3 py-lg-4" href="#" id="nav_contact_us"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact
                    Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link px-lg-3 py-lg-4" id="btn_branches"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Branches</a>
            </li>
        </ul>
        <ul class="navbar-nav" style="margin-left: 30px;">
            <li class="nav-item dropdown">
                <a href="https://www.dmw.gov.ph" class="nav-link px-lg-3 py-lg-4" 
                    role="button" aria-haspopup="true" aria-expanded="false">DMW</a>
            </li>
            <li class="nav-item dropdown">
                <a href="https://epstopik.hrdkorea.or.kr/epstopik/home/main/mainPage.do?lang=kr" class="nav-link px-lg-3 py-lg-4"
                    role="button" aria-haspopup="true" aria-expanded="false">EPS-TOPIK</a>
            </li>
            <li class="nav-item dropdown">
                <a href="https://onlineservices.dmw.gov.ph//OnlineServices/POEAOnline.aspx" class="nav-link px-lg-3 py-lg-4" id="navbarDropdownMenuLink"
                    role="button" aria-haspopup="true" aria-expanded="false">E-Registration</a>
            </li>
        </ul>
        <a class="btn btn-light ml-lg-auto pl-4 pr-4 rounded-pill" href="{{url_for('bp_auth.login')}}">Log In</a>
    </div>
</div>
</nav>