.nav-background{
   background-color:rgb(0, 97, 168);
}

.header-background{
  min-height: 60em;
  background-position: 10% 70%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url(/admin/admin/static/img/welcome_background.jpg);
  background-blend-mode: screen;
  padding: 4em 3em;
  position: relative;
}

.header-background:before {
    content: "";
    inset: 0;
    position: absolute;
    display: block;
    background: rgb(0 97 168 / 50%);
}

.title{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.sub-title{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
}

.svg-head{
    fill: rgb(6, 137, 206);
    opacity: 50%;
}

.about h1{   
   color: rgb(0, 97, 168);
}

.testimony h2{
    color: rgb(0, 97, 168);
}

.message{
    color: black;
    text-align: left;
    font-size: 1.2em;
    
}

.about-section{
    margin: 5em 0em; 
}

.primary-color {
    background-color: rgb(0, 97, 168) !important;
}

.text-favorite {
    color: rgb(0, 97, 168) !important;
}

.background-korea-spring {
    background-image: url(https://primeklcbucket.s3.ap-southeast-1.amazonaws.com/landing_page/korea-spring.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000085;
    background-blend-mode: color;
}

.background-korea-autumn {
    background-image: url(https://primeklcbucket.s3.ap-southeast-1.amazonaws.com/landing_page/korea-autum.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000085;
    background-blend-mode: color;
}