<section data-aos="zoom-in" class="border border-left-0 border-right-0 border-top-0 pb-5 pt-5"
id="testimonies" style="background-color: rgb(0 97 168 / 20%);">
<div class="testimony container pb-5 pt-5">
    <h2 class="h1 mb-4 text-center">Our Testimonies</h2>
    
    <div data-aos="fade-right" id="carousel8" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            {% for our_testimony in our_testimonies %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <div class="align-items-center row">
                        <div class="col-lg-4 pb-3 pt-3 text-center d-flex align-items-center overflow-hidden" style="height:400px;">
                            <img src="{{ our_testimony['image'] }}" class="img-fluid">
                        </div>

                        <div class="col-lg-8 pb-3 pt-3">
                            <h3 class="text-dark">{{ our_testimony['title'] }}</h3>
                            <p class="font-weight-light mb-0">{{ our_testimony['description'].replace('\n', '<br>') | safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <ol class="carousel-indicators position-relative">
            {% for our_testimony in our_testimonies %}
                <li data-target="#carousel8" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %} primary-color"></li>
            {% endfor %}
        </ol>
    </div>
    <div class="pb-4 pt-4 text-center">
        <a style="color: white;" class="btn primary-color pl-4 pr-4 rounded-pill" href="{{url_for('prime_home.testimonies')}}">View More</a>
    </div>
</div>
</section>
