<div class="app-sidebar sidebar-shadow bg-arielle-smile">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                        data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
     <span>
         <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
             <span class="btn-icon-wrapper">
                 <i class="fa fa-ellipsis-v fa-w-6"></i>
             </span>
         </button>
     </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                {% if debug %}
                <li class="app-sidebar__heading" style="color: red;">DEVELOPMENT MODE</li>
                {% endif %}
                <li>
                    <a href="{{url_for('lms.dashboard')}}" class="">
                        <i class="metismenu-icon pe-7s-back icon-gradient bg-premium-dark" aria-hidden="true"></i>
                        Back to Dashboard
                    </a>
                </li>
                <li id="header_dashboard" class="app-sidebar__heading">Settings</li>
                <li>
                    <a id="li_settings" href="{{url_for('lms.settings')}}" class="">
                        <i class="metismenu-icon pe-7s-settings icon-gradient bg-premium-dark" aria-hidden="true"></i>
                        General
                    </a>
                </li>
                <li>
                    <a id="li_branches" href="{{url_for('lms.branches')}}" class="">
                        <i class="metismenu-icon pe-7s-culture icon-gradient bg-premium-dark" aria-hidden="true"></i>
                        Branches
                    </a>
                </li>
                <li>
                    <a id="li_other_expenses" href="{{url_for('lms.other_expenses_settings')}}" class="">
                        <i class="metismenu-icon pe-7s-settings icon-gradient bg-premium-dark" aria-hidden="true"></i>
                        Other Expenses
                    </a>
                </li>
                <li>
                    <a id="li_examination" href="#">
                        <i class="metismenu-icon pe-7s-pen icon"></i>
                        Examination
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a id="li_batch_numbers" href="{{url_for('lms.batch_numbers_settings')}}">
                                <i class="metismenu-icon"></i>
                                Batch Numbers
                            </a>
                        </li>
                        <li>
                            <a id="li_sessions" href="{{url_for('lms.sessions_settings')}}">
                                <i class="metismenu-icon"></i>
                                Sessions
                            </a>
                        </li>
                        <li id="li_venues">
                            <a href="{{url_for('lms.venues_settings')}}">
                                <i class="metismenu-icon"></i>
                                Venues
                            </a>
                        </li>
                        <li>
                            <a id="li_industries" href="{{url_for('lms.industries_settings')}}">
                                <i class="metismenu-icon"></i>
                                Industries
                            </a>
                        </li>
                        <li>
                            <a id="li_no_of_klts" href="{{url_for('lms.klts_settings')}}">
                                <i class="metismenu-icon"></i>
                                KLTs
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="li_orientators" href="{{url_for('lms.orientators_settings')}}" class="">
                        <i class="metismenu-icon pe-7s-settings icon-gradient bg-premium-dark" aria-hidden="true"></i>
                        Orientators
                    </a>
                </li>
                <li>
                    <a id="li_pages" href="#">
                        <i class="metismenu-icon pe-7s-file icon"></i>
                        Pages
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a id="li_batch_numbers" href="{{url_for('lms.pages_home')}}">
                                <i class="metismenu-icon"></i>
                                Home
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>